<%= form_for @track, :html => {:multipart => true, :class => 'form-horizontal', :data => {:pjax => true}} do |f| %>
    <% if @track.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

          <ul>
            <% @track.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :file, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :file %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>
<% end %>
