<p id="notice"><%= notice %></p>

<p>
  <b>Artist:</b>
  <%= @track.artist_id %>
</p>

<p>
  <b>Name:</b>
  <%= @track.name %>
</p>

<div class="control-group">
  <div class="controls">
    <%= link_to 'Back', :back, :class => 'btn btn-inverse' %>

    <% if @track.artist.user == @current_user %>
        <%= link_to 'Edit', edit_track_path(@track), :class => 'btn btn-primary' %>
        <%= link_to 'Delete', track_path(@track), :method => :delete, :class => 'btn btn-danger' %>
    <% end %>
  </div>
</div>
