<div class="well">
  <h4><%= result.name %></h4>

  <div class="container">
    <% if result.tracks_prefetched.empty? %>
        <p class="text-info">This artist has not uploaded any songs yet</p>
    <% else
         result.tracks_prefetched.each do |track| %>
            <div>
              <p class="track-search-result">
                <%= link_to text_with_icon('', 'icon-play-circle icon-white', :before), '#',
                            :class => 'btn btn-inverse btn-small track-add-btn popup hidden',
                            :onclick => "addSong(\"#{track.id}\"); return false;" %>
                <%= track.name %>
              </p>
            </div>
        <% end %>
    <% end %>
    <%= link_to text_with_icon('Add all', 'icon-play-circle icon-white', :before), '#',
                :class => 'btn btn-inverse btn-small', :onclick => "addArtist(\"#{result.id}\"); return false;" %>
    <%= link_to 'Show', artist_path(:id => result.id), :class => 'btn btn-primary btn-small', :data => {:pjax => true} %>
  </div>
</div>
