<% @page_title = 'Sign up to Catchy Tune'
   @css_sources << 'users'
   @js_sources << 'users' -%>

<div class="container">
  <div class="row">
    <div class="span6">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque debitis deleniti,
        dolor dolore est eum hic illo, iusto labore laborum, praesentium quaerat quisquam rerum
        unde voluptas voluptatem voluptatibus. Quisquam, saepe?
      </p>
    </div>
    <div class="span6">
      <%= form_for(:user, :url => {:controller => 'users', :action => 'new'}, :html => {:class => 'form-signin form-horizontal'}) do |f| %>
        <div class="control-group">
          <%= label :user, :username, 'Username', :class => 'control-label' %>

          <div class="controls">
            <%= f.text_field :username, :placeholder => 'Username' %>
          </div>
        </div>
        <div class="control-group">
          <%= label :user, :password, 'Password', :class => 'control-label' %>

          <div class="controls">
            <%= f.password_field :password, :placeholder => 'Password' %>
          </div>
        </div>
        <div class="control-group">
          <%= label :user, :password_confirmation, 'Confirm password', :class => 'control-label' %>

          <div class="controls">
            <%= f.password_field :password_confirmation, :placeholder => 'Password' %>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= error_messages @user %>

            <%= f.submit value='Sign up', :class => 'btn btn-large btn-primary' %>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= link_to 'You have already registered? Log in!', :controller => 'sessions', :action => 'login' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>