<% @page_title = 'Sign up to Catchy Tune' -%>

<%= form_for(:user, :url => {:controller => 'users', :action => 'new'}, :html => {:class => 'form-signin form-horizontal'}) do |f| %>
    <div class="control-group">
      <%= label :user, :username, 'Username', :class => 'control-label' %>

      <div class="controls">
        <%= f.text_field :username, :placeholder => 'Username' %>
      </div>
    </div>
    <div class="control-group">
      <%= label :user, :password, 'Password', :class => 'control-label' %>

      <div class="controls">
        <%= f.password_field :password, :placeholder => 'Password' %>
      </div>
    </div>
    <div class="control-group">
      <%= label :user, :password_confirmation, 'Confirm password', :class => 'control-label' %>

      <div class="controls">
        <%= f.password_field :password_confirmation, :placeholder => 'Password' %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= error_messages @user %>

        <%= f.submit value='Sign up', :class => 'btn btn-large btn-primary' %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= link_to 'You have already registered? Log in!', :controller => 'sessions', :action => 'login' %>
      </div>
    </div>
<% end %>
