<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Catchy Tune', root_path, :class => 'brand' %>

      <form action="/search/results" method="get" class="navbar-search form-search pull-left" data-pjax>
        <div class="input-append">
          <input type="text" name="query" class="input-xlarge search-query" placeholder="Search"/>
          <button type="submit" id="search-submit" class="btn btn-inverse">
            <i class="icon-search icon-white"></i>
          </button>
        </div>
      </form>

      <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li><p class="navbar-text pull-right"><%= @current_user.username %></p></li>
        <li><%= link_to({:controller => 'sessions', :action => 'logout'}, :id => 'logout', :data => {:pjax => false}) do %>
              <i class="icon-white icon-off"></i>
          <% end %></li>
      </ul>

      <div class="nav-collapse collapse pull-right">
        <ul id="navbarbuttonlist" class="nav">
          <li id="navbarhome" class="active">
            <%= link_to('Home', :controller => :sessions, :action => 'home') %>
          </li>
          <li id="navbarupload">
            <%= link_to('Upload', :controller => :tracks, :action => 'new') %>
          </li>
          <li id="navbarabout">
            <%= link_to 'About', :controller => 'static', :action => 'about' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>