<% @css_sources << %w(application player home)
   @js_sources << %w(application player navbar) %>

<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title.blank? ? "Home of #{@current_user.username}" : @page_title %></title>
  <%= stylesheet_link_tag *(@css_sources.flatten), :media => 'all' %>
  <%= javascript_include_tag *(@js_sources.flatten) %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => '/layouts/navbar' %>

<p><%= rand(1000) %></p>

<div class="container" id="pjax-container">
  <%= yield %>
</div>

<%= render :partial => '/layouts/player' %>

</body>
</html>
