<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title.blank? ? "Home of #{@current_user.username}" : @page_title %></title>
  <%= stylesheet_link_tag *@css_sources, :media => 'all' %>
  <%= javascript_include_tag *@js_sources %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => '/layouts/navbar' %>

<div class="container">
  <%= yield %>
</div>

<%= render :partial => '/layouts/player' %>

</body>
</html>