<!DOCTYPE html>
<html>
<head>
  <title>Home of <%= @current_user.username %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => '/layouts/navbar' %>

<div class="container">
  <%= yield %>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="assets/javascript/bootstrap.js"></script>
</body>
</html>