<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title.blank? ? "Home of #{@current_user.username}" : @page_title %></title>
  <%= stylesheet_link_tag 'home', :media => 'all' %>
  <%= javascript_include_tag 'home' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => '/layouts/navbar' %>

<div class="container" id="pjax-container">
  <%= yield %>
</div>

<%= render :partial => '/layouts/player' %>

</body>
</html>
